@import '~element-ui/lib/theme-chalk/index.css';
@import '~buefy/dist/buefy.css';
@import './animation/index';

//
$primary: #0c365b;
$secondary: #052846;
$typography-font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif !default;
@import './framework/all';

body {
  margin: 0;
}

.table-column:hover {
  color: $primary !important;
}

.border-lr-secondary {
  border-left: solid $secondary;
  border-right: solid $secondary;
}

.border-t-secondary {
  border-top: solid $secondary;
}

.border-b-secondary {
  border-bottom: solid $secondary;
}

.amount-text {
  @extend .text-weight-bold;
  font-size: 1.3rem;
}

.amount-input {
  > .el-input__inner {
    @extend .text-center,.amount-text;
    border: 0;
    color: white;
    background: $blue-grey-5;
  }
}
